.contact-container {
  display: flex;
  align-items: stretch;
  min-height: calc(
    100vh - alturaNavbar - alturaFooter
  ); 
  background-color: #f8f8f8;
  padding-right: 4.5rem;
  gap: 2rem;
}

.contact-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

.contact-image img {
  width: 92%;
  height: 100%;
  object-fit: cover;
}

.contact-form {
  flex: 1;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

.contact-form button {
  padding: 0.75rem;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #444;
}

.checkbox-container {
  display: flex;
  align-items: center;

  gap: 0rem;
  font-size: 0.9rem;
}
