.hombres-page {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.banner-hombres {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
 
  position: absolute;
  top: 25%;
  left: 14%;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 400px;
}

.banner-text h1 {
   font-weight: bold;
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 1.2rem;
  margin: 0;
}

.hombres-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  padding: 3rem 2rem;
}

.producto {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.producto:hover {
  transform: translateY(-5px);
}

.producto img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

.producto h3 {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem;
}

.producto p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.producto button {
  background-color: #111;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.producto button:hover {
  background-color: #333;
}
